<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GEMAK</title>
    <!------ JQUERY PARA USAR AJAX ----->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-----------------------------------------------     IONIC     ---------------------------------------------------------------->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <!-----------------------------------------------     JS     ---------------------------------------------------------------->
    <script type="text/javascript" src="js/Almacen/Almacen.js"></script>
</head>

<body>
    <ion-app>
        <!-- Cabezera -->
        <ion-header>
            <ion-toolbar color="dark">
                <ion-buttons slot="start">
                    <ion-button>
                        <ion-icon name="home"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title>EVA NAILS</ion-title>
                <ion-buttons slot="end">
                    <p style="margin-right: 2.5em;">Total: <span id="total"></span></p>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <!-- Contenido -->
        <ion-content>
            <ion-grid>
                <ion-row>
                    <ion-col size-md="4" offset-md="4">
                        <!-- Ionic Card -->
                        <ion-card color="light">
                            <ion-card-header color="light">
                                <ion-card-title>
                                    Nueva tarea
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content>

                                <ion-item margin-vertical>
                                    <ion-label position="floating">Tarea</ion-label>
                                    <ion-input type="text" id="Tarea"> </ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">Descripción</ion-label>
                                    <ion-input type="text" id="Descripcion"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label id="labelVencimiento">Vencimiento</ion-label>
                                    <!--      <ion-input id="Vencimiento"></ion-input> -->
                                    <ion-button slot="end" fill="clear" id="open-Vencimiento">
                                        <ion-icon icon="calendar"></ion-icon>
                                    </ion-button>
                                    <ion-popover trigger="open-Vencimiento" show-backdrop="false">
                                        <ion-datetime presentation="date" id="CalendarioVencimiento" onblur="Alerta()">
                                        </ion-datetime>
                                    </ion-popover>
                                </ion-item>

                                <ion-item margin-vertical>
                                    <ion-label position="floating">Notas</ion-label>
                                    <ion-textarea id="Notas"></ion-textarea>
                                </ion-item>

                                <div margin-vertical text-right>
                                    <ion-button id="Boton" onclick="Registrar()">
                                        <ion-icon name="add-circle" slot="start"></ion-icon>
                                        Guardar
                                    </ion-button>
                                    <ion-button fill="outline" color="danger" id="button-cancel" onclick="Limpiar()">
                                        <ion-icon name="trash" slot="start"></ion-icon>
                                        Limpiar
                                    </ion-button>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-md="4" offset-md="4">
                        <ion-list id="product-list"></ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-md="4" offset-md="4">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>

        <!-- Navigation-->
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="tab-schedule">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Citas</ion-label>
                <ion-badge>6</ion-badge>
            </ion-tab-button>

            <ion-tab-button tab="tab-speaker" onclick="RutaSocios()">
                <ion-icon name="person-circle"></ion-icon>
                <ion-label>Socios</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="tab-map" onclick="RutaAlmacen()">
                <ion-icon name="map"></ion-icon>
                <ion-label>Almacen</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="tab-about">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Configuración</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-app>
</body>

</html>